.dd-title
  color: #EB3434

.dd-homepage
  background-image: url('../images/background.png')
  background-repeat: repeat
  background-size: 1023px 276px

.dd-homepage-logo
  position: absolute
  right: 0px
  top: -3px
  width: 166px
  height: 262px

.dd-homepage-logo-bg
  position: absolute
  width: 166px
  height: 262px
  background-image: url("../images/homepage/bg-black-logo-homepage.png")
  background-repeat: no-repeat
  background-size: 211px 207px

.dd-homepage-logo-write
  position: absolute
  width: 108px
  height: 139px
  background-image: url("../images/homepage/bg-logo-homepage.png")
  background-repeat: no-repeat
  background-size: 106px 106px
  top: 9px
  right: 7px

.dd-homepage-title
  font-size: 44px
  line-height: 58px
  letter-spacing: -2px
  margin-bottom: -121px
  text-align: left
  color: white

.dd-section
  background-color: #FFF

.dd-section-background
  background-image: url("../images/section/background.png")
  background-repeat: no-repeat
  background-size: 600px 400px
  position: absolute
  height: 400px
  width: 400px
  bottom: 0px
  left: 0px
  opacity: 0.4
  background-position: -200px 123px

.dd-section-logo
  background-image: url("../images/section/twitter.png")
  background-repeat: no-repeat
  background-size: 125px 125px
  position: absolute
  height: 125px
  width: 125px
  top: 0px
  right: 0px
  background-position: 45px -20px

.dd-speaker
  background-image: url('../images/background.png')
  background-repeat: repeat
  background-size: 1023px 276px

.dd-speaker-box
  display: inline-flex

.dd-speaker-pic
  width: 300px
  height: 300px
  background-image: url("../images/speaker/pic.png")
  background-repeat: repeat
  background-size: 300px 300px
  box-shadow: 3px 3px 4px -1px
  margin-right: 10px

.dd-speaker-detail
  width: 300px
  height: 300px
  background-color: white
  box-shadow: 3px 3px 4px -1px

.dd-speaker-detail-container
  margin: 20px